.app-bar {
    position: relative;
    border-bottom: 1px;
    background-color: #eeeeee;
    box-shadow: 0 0 2px 2px #A9A9A9 !important;
    width: 100%;
    min-height: 2.5em;
}

.text {
    color: #555;
    margin: 0;
}

.secondary-text {
    font-size: 13px;
    color: #707070;
}

.form-control {
    margin-bottom: 0.5em;
}

.form-control:focus {
    border-color: #5c71c5;
    box-shadow: 0 0 2px 2px #5c71c5;
}

.form-check {
    margin-top: 2%;
}

.form-control-error {
    border-color: red;
    box-shadow: 0 0 2px 2px red;
}

.custom-file {
    margin-top: 0.5em;
}

.selector {
    margin-bottom: 0.5em;
}

.app-bar {
    position: relative;
    border-bottom: 1px;
    background-color: #eeeeee;
    box-shadow: 0 0 2px 2px #A9A9A9 !important;
    width: 100%;
}

.menu-btn {
    margin-top: 0.2em;
    margin-bottom: 0.2em !important;
}

.app-icon {
    padding-top: 0.3em;
}

.btn-purple {
    margin-bottom: 0.5em;
    background-color: #eeeeee;
    border-color: #5c71c5;
    color: #5c71c5;
    box-shadow: 0 0 0 0 #5c71c5 !important;
}

.btn-purple:hover {
    background-color: #f7f8fc;
    border-color: #5c71c5;
    color: #5c71c5;
}

.btn-purple:active {
    background-color: #f7f8fc;
    border-color: #5c71c5;
    color: #5c71c5;
    box-shadow: 0 0 2px 2px #5c71c5 !important;
}

.main-page-container {
    position: relative;
    margin-top: 0.7em;
}

.main-container {
    padding: 0;
}