.text {
    color: #555;
    margin: 0;
}

.secondary-text {
    font-size: 13px;
    color: #707070;
    margin: 0;
}

.app-bar {
    position: relative;
    border-bottom: 1px;
    background-color: #eeeeee;
    box-shadow: 0 0 2px 2px #A9A9A9 !important;
    width: 100%;
}

.btn-purple {
    margin-bottom: 0.5em;
    background-color: #eeeeee;
    border-color: #5c71c5;
    color: #5c71c5;
    box-shadow: 0 0 0 0 #5c71c5 !important;
}

.btn-purple:hover {
    background-color: #f7f8fc;
    border-color: #5c71c5;
    color: #5c71c5;
}

.btn-purple:active {
    background-color: #f7f8fc;
    border-color: #5c71c5;
    color: #5c71c5;
    box-shadow: 0 0 2px 2px #5c71c5 !important;
}

.main-container {
    padding: 0;
}

.fixed-messages {
    padding-bottom: 40px;
}

.form-control:focus {
    border-color: #5c71c5;
    box-shadow: 0 0 2px 2px #5c71c5;
}
